@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0e9e9;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514), -1px -1px 3px rgba(0, 0, 0, 0.514);
  font-family: 'Roboto', sans-serif;
}


main {
  flex-grow: 1;
}

.min-height{
  min-height: 100vh;
}

.clock{
  font-size: 75px;
  // backdrop-filter: blur(1px);
}

.hide{
opacity: 0;
transition: all .5 ease;

}

.quote:hover .hide{
  opacity: 1;
transition: all .5 ease;
}

.strike{
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.bg-check{
  background-color: #1f1b1bad;
}